#mainTxt {
    font-size: 2.9vw;
    text-align: center;
    margin: 20px 9px 9px 9px;
    font-family: Noto Serif;
    font-weight: normal;
}
#search {
    text-align: center;
}
#searchInput {
    background-image: url('/img/searchicon.png'); /* Add a search icon to input, not currently implemented */
    background-position: 10px 12px; /* Position the search icon, experiment with positions later */
    background-repeat: no-repeat; /* Do not repeat the icon image through the whole input bar */
    width: 25%;  /* Width of search input box */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Padding for top-right-bottom-left */
    border: 1px solid #ddd; /* Line border */
    margin-bottom: 12px; /* Space below the input box */
}
#searchList {
    /* Remove default list styling like the dots */
    list-style-type: none;
    padding: 0;
    margin: 0;
    /* https://stackoverflow.com/questions/1708054/how-can-i-center-ul-li-into-a-div */
}
#searchList li a {
    border: 1px solid #ddd; /* Add a border to all links */
    display: inline-block; /* Make it into a block element to fill the whole list */  
    padding: 12px; /* Add more padding all around */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    text-decoration: none; /* Remove default link text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    width: 40%; /* Set width */
} 
#searchList li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}
#navButtons {
    text-align: center;
}
#navButtons button{
    border: 2px solid rgb(0, 0, 0);
    padding: 6px 10px;
    margin: 3px 3px 3px 3px;
    border-radius: 20px;
    max-width: 25%;
    font-size: 1.5vw;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}
#searchB{
    background-color: #008CBA;
    color: white;
}
#searchB:hover{
    background-color: #119ecd;
}